@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    ENETCareGlobal Care is a charitable organization. The charity aims to improve housing and sanitation for remote communities and the long-term homeless.
</p>
<p>
    ENETCareGlobal Care employs staff who visit needy communities and provide evidence-based interventions. The interventions include education, low-cost housing, portable toilets, mosquito nets, tents and first-aid kits.
</p>
<p>
    Funding comes from a range of sources: government contracts, government grants, corporate sponsorship and public donations.
</p>
